<mat-toolbar color="primary" *ngIf="userIsAuthenticated" fxFlex>

  <div *ngIf="!isMobile" fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
    <div routerLink="/" (click)= refresh(); class="logo">
      <a><span>po</span>RACHUNKI</a>
    </div>
    <div>
      <button mat-button color="primary" mat-flat-button routerLink="/tags">Moje tagi</button>
      <button mat-button color="primary" mat-flat-button (click)="onLogout()">Wyloguj</button>
    </div>
  </div>

  <div *ngIf="isMobile && headerName === 'Lista'" fxFlex>
    <div *ngIf="!searchIsClicked" fxLayout="row" fxFlex>
      <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Kontakt</button>
        <button mat-menu-item (click)="onLogout()">Wyloguj</button>
      </mat-menu>
      <a routerLink="/" class="logo"><span>po</span>RACHUNKI</a>
      <div class="spacer"></div>
      <button mat-button (click)="searchIsClicked = true;"><mat-icon class="search" matSuffix>search</mat-icon></button>
    </div>
    <div *ngIf="searchIsClicked" fxLayout="row" fxFlex>
      <button mat-button (click)="searchIsClicked = false;"><mat-icon class="mat-icon-back">keyboard_arrow_left</mat-icon></button>
      <app-bill-search (filterBills)="getByFilter()"></app-bill-search>
    </div>
  </div>

  <div *ngIf="isMobile && headerName !== 'Lista'" fxLayout="row">
    <button mat-button routerLink="/"><mat-icon>keyboard_arrow_left</mat-icon></button>
    <h3>{{headerName}}</h3>
  </div>

</mat-toolbar>
