mat-toolbar {
  background: #655BF0;
  position: sticky;
  top: 0;
  padding-right: 20px;

  a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Baloo Chettan', cursive;
    font-size: 23px;
  }
  span {
    font-family: 'Sue Ellen Francisco', cursive;
  }

  button {
    margin-left: 0;
    padding-left: 0;
  }

  mat-icon.mat-icon{
    font-size: 30px;
    position: relative;
    top: 1px;
    margin-left: -10px;
    margin-right: 15px;
  }

  .logo{
    cursor: pointer;
  }
}
