.block-form{
  height: auto;
  background: #fff;
  padding: 20px;
  .selected-tag{
    background-color: #655BF0;
    color: #ffffff;
  }

  .mat-form-field {
    width: 100%;
  }
  .mat-slider-horizontal {
    width: 300px;
  }
}
.block-form-mobile {
  height: calc(100vh - 180px);
  background: #fff;
  padding: 20px;
  .selected-tag{
    background-color: #655BF0;
    color: #ffffff;
  }

  .mat-form-field {
    width: 100%;
  }
  .mat-slider-horizontal {
    width: 100%;
  }
}


.mat-progress-bar {
  height: 6px;
}

.mat-slider{
  margin-top: 40px;
}

::ng-deep {

  .mat-slider-thumb-label {
    transform: rotate(45deg) !important;
    border-radius: 50% 50% 0 !important;
  }

  .mat-slider-thumb {
    transform: scale(0) !important;
  }

  .mat-slider-thumb-label-text {
    opacity: 1 !important;
  }
  input[type="file"] {
    visibility: hidden;
  }
}

img{
  height: 30vh;
  max-width: 90vw;
}

