.toolbar{
  background-color: #fff;
  margin: -10px;
  .mat-icon {
    //color: grey;
    font-size: 30px;
    height:30px;
    width:30px;
    cursor: pointer;
    //margin: 10px 20px;
  }
  .main-icon{
    color: #655BF0;
    font-size: 60px;
    height:60px;
    width:60px;
  }
}
