.mat-form-field {
  width: 100%;
}

p{
  margin-bottom: 0;
}

h2{
  margin: 20px;
}

.block {
  background: #fff;
  padding: 20px;
  height: calc(100vh - 100px);
  overflow: auto;
  h2{
    margin: 5px 0;
  }
}


