button {
  width: 100%;
}

.alert-box{
  height: 30px;
  color:red;
  padding: 0 15px;
}

h3{
  color: #655BF0;
  margin:0px;
}

.checkbox-list {
  height: 40px;
}

.mat-divider {
  margin-top: 7px;
}
