<div fxLayout="column">
  <div fxLayout="row" *ngIf="userIsAuthenticated" fxFlex>
    <div fxLayout="column" *ngIf="!isMobile" class="filter-left-container">
      <app-filter-dialog></app-filter-dialog>
      <app-change-view-dialog></app-change-view-dialog>
    </div>
    <div fxFlex class="main-view-container" fxLayout="column" fxLayoutAlign="space-between stretch">
      <div fxLayout="column">
        <ng-template #noItem>
          <div class="no-result-box">
            brak rachunków
          </div>
        </ng-template>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <button *ngIf="!isMobile" mat-stroked-button color="primary" routerLink="/create" class="accent-button">
            <mat-icon>add_circle</mat-icon>
            Dodaj rachunek
          </button>
          <app-bill-search *ngIf="!isMobile" (filterBills)="getByFilter()"></app-bill-search>
        </div>
        <div class="main-list-block" [@listAnimation]="billsLength">
          <div #target></div>
          <div fxLayout="row">
            <mat-chip-list *ngIf="filter.selectedCategory.length" aria-label="category tags" class="my-chip-list">
              <div class="search-tags-box">
                <span>Kategoria:</span>
                <mat-chip *ngFor="let category of filter.selectedCategory"
                          [removable]="removable" (removed)="removeFilter(category,'category')">
                  {{category}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
              </div>
            </mat-chip-list>
            <mat-chip-list *ngIf="filter.selectedPriceFrom || filter.selectedPriceTo" aria-label="price tags" class="my-chip-list">
              <div class="search-tags-box">
                <span>Cena:</span>
                <mat-chip [removable]="removable" (removed)="removeFilter(filter, 'price')" class="price-span">
                  <span *ngIf="filter.selectedPriceFrom">od {{filter.selectedPriceFrom}}</span><span *ngIf="filter.selectedPriceTo">do {{filter.selectedPriceTo}}</span><span>zł</span>
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
              </div>
            </mat-chip-list>
            <mat-chip-list *ngIf="filter.selectedWarranty && filter.selectedWarranty !== 'ignoruj'" aria-label="price tags" class="my-chip-list">
              <div class="search-tags-box">
                <span>Pozostało gwarancji:</span>
                <mat-chip [removable]="removable" (removed)="removeFilter(filter.selectedWarranty,'warranty')">
                  {{filter.selectedWarranty}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
              </div>
            </mat-chip-list>
            <mat-chip-list *ngIf="filter.purchaseDateFrom || filter.purchaseDateTo" aria-label="purchase date tags" class="my-chip-list">
              <div class="search-tags-box">
                <span>Data zakupu:</span>
                <mat-chip [removable]="removable" (removed)="removeFilter(filter, 'purchaseDate')" class="price-span">
                  <span *ngIf="filter.purchaseDateFrom">od {{filter.purchaseDateFrom | date: 'dd.mm.yyyy'}}</span><span *ngIf="filter.purchaseDateTo">do {{filter.purchaseDateTo | date: 'dd.mm.yyyy'}}</span>
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
              </div>
            </mat-chip-list>
          </div>
          <div *ngIf="bills.length; else noItem">
            <mat-card *ngFor="let bill of bills">
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="column" fxLayoutAlign="center center"  class="date-box">
                  <h2>{{bill.purchaseDate | date: 'd'}} {{bill.purchaseDate | date: 'MMM'}}</h2>
                  <p>{{bill.purchaseDate | date: 'yyyy'}}</p>
                </div>
                <div fxFlex *ngIf="!bill.expand">
                  <h2>{{bill.product}} {{bill.brand}}</h2>
                  <p><mat-icon>payment</mat-icon>{{bill.price}}</p>
                  <p *ngIf="elementsView.shop"><mat-icon>home</mat-icon>{{bill.shop}}</p>
                  <p *ngIf="elementsView.description"><mat-icon>description</mat-icon>{{bill.description}}</p>
                  <p *ngIf="elementsView.warrantyEndDate || filter.selectedWarranty"
                     [ngStyle]="{'color':checkIfWarrantyOneMonth(bill) ? '#ff8a80' : 'none'}">
                    <mat-icon>restore</mat-icon>do {{bill.warrantyEndDate | date: 'dd.MM.yyyy'}}</p>
                  <p *ngIf="elementsView.purchaseType"><mat-icon>category</mat-icon>{{bill.purchaseType}}</p>
                </div>
                <div *ngIf="bill.expand || !isMobile" fxLayout="row" fxLayoutAlign="end center" class="action-button-box">
                  <button type="button" mat-stroked-button color="primary" (click)="showBillPhoto(bill.imageBillPath)">
                    <mat-icon>photo_camera</mat-icon><br><span>zdjęcie</span>
                  </button>
                  <button type="button" mat-stroked-button color="none" (click)="editBill(bill)">
                    <mat-icon>edit</mat-icon><br><span>edytuj</span>
                  </button>
                  <button type="button" mat-stroked-button color="warn" (click)="removeBill(bill._id)">
                    <mat-icon>cancel</mat-icon><br><span>usuń</span>
                  </button>
                </div>
                <div *ngIf="isMobile" class="action-box" (click)="expandPanel(bill)">
                  <div *ngIf="!bill.expand" fxLayout="column" fxLayoutAlign="center center">
                    <mat-icon class="show-file-icon">chevron_right</mat-icon>
                  </div>
                  <div *ngIf="bill.expand" fxLayout="column" fxLayoutAlign="center center">
                    <mat-icon class="show-file-icon">chevron_left</mat-icon>
                  </div>
                </div>
              </div>

            </mat-card>
          </div>
          <div fxLayout="row" fxLayoutAlign="center none" *ngIf="bills.length > 5">
            <button class="button-box" mat-icon-button (click)="scroll(target)">
              <mat-icon>keyboard_arrow_up</mat-icon><br><p>na górę</p>
            </button>
          </div>
        </div>
      </div>
      <app-toolbar *ngIf="isMobile" [billsWarrantyInMonthLength]="billsWarrantyInMonth" (onViewByWarranty)="getByFilter()"></app-toolbar>
    </div>
  </div>
</div>
